.category__title {
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.category__line {
    height: 1px;
}

.category__subtitle {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.products__blok {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;    
}

.category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-top: 30px;
    padding: 25px 20px;
    border: 1px solid #037B35;
    transition: 0.3s ease;
}
.category__item:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.category__item-img {
    height: 168px;
    width: 168px;
}

.category__name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding: 12px 0;
    color: #45525b;
    max-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    white-space: wrap;
}

.category__bottom-link {
    position: sticky;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    width: 460px;
    padding: 11px 41px;
    background: #037B35;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 30px;
    border: 2px solid #037B35; 
    margin-bottom: 100px;
    transition: 1s ease;
}

.category__bottom-link:hover {
    background-color: #fff;
    color: #037B35;
    transform: scale(1.111);
}


@media (max-width:720px) {
    .container {
        width: 600px;
    }

    .category__title {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        margin-bottom: 100px;
    }

}

@media(max-width:620px) {
    .container {
        width: 500px;
    }

    .category__subtitle {
        text-align: center;
    }

    .products__blok {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;    
    }

    .category__bottom-link {
        font-size: 15px;
        line-height: 20px;
        width: 280px;
        padding: 7px 39px;
    }


}

@media(max-width:520px) {

    .container {
        width: 400px;
    }

    
    .category__title {
        font-size: 30px;
        margin-bottom: 50px;
    }


    .category__line {
        height: 1px;
        width: 100%;   
    }
}

@media(max-width:420px) {
    .container {
        width: 300px;
    }

    .category__title {
        font-size: 25px;
        margin-bottom: 41px;
    }
}