

.modal__form-title {
    color: #fff;
}

.modal__form {
    /* opacity: 0; */
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column;
    width: 330px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
}


.murojaat {
    /* opacity: 0; */
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none;
    /* padding-top: 100px; */
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    background-color: rgba(0,0,0,.5);
}

.murojaat.show {
    display: flex;
    justify-content: center;     
    padding-top: 100px;
}

.modal__form-btn {
    position: absolute;
    transform: translateX(155px) translateY(-20px);
    background-color: green;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
}

.modal__form-label {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: green;
}

.modal__form-input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

.modal__form-link {
    background-color: transparent;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 32px;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 10px;
}

.modal__form-link:hover {
    background-color: green;
}

.modal__link {
    background: #037b35;
    border: 2px solid #037b35;
    border-radius: 15px;
    border-radius: 26.5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 9px 50px;
    transition: .3s;
}

.modal__link:nth-child(1)  {
    margin-left: -60px;
}

.modal__link:nth-child(1):hover  {
   background-color: #fff;
   color: #037b35;
}

.modal__link:nth-child(2) {
    margin-left: 20px;
    background-color: #fff;
    color: #037b35;
}

.modal__link:nth-child(2):hover {
    background-color: #037b35;
    color: #fff;
}