.product__about-header {
   background-image: url("../../assets/img/productAboutImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 30px;
    padding-top: 50px;
}

.product__about-bgi {
    background-image: url("../../assets/img/yellow-green-images.png");
    background-repeat: repeat;
    height: 210px;
    margin-top: -30px;
    padding: 0;
    z-index: 10;
}

.product__header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.product__header-title {
  text-align: center;
  color: #f3f4f6;
  margin-bottom: 100px;
}

.product__header-btn {
  width: 60px;
  animation-name: buttonAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes buttonAnimation {
  0%   {
      width: 40px;
      box-shadow: rgba(194, 210, 15, 0.2) 0px 4px 20px 0px;
  }

  50%  {
      width: 50px;
  }

  100%  {
      width: 60px;
  }
}


.big-wrapper {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0; 
} 


.product__about-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  width: 520px;
  color: #2c1500;
  font-style: normal;
}

.product__about-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  opacity: .8;
  padding: 15px 0;
  width: 556px;
  color: #2c1500;
  font-style: normal;
  margin: 0;
}

.product__About-price {
  color: #037b35;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  padding: 30px 0;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.pro__about-img {
  display: block;
  width:340px;
  object-fit: contain;
}

.des {
  font-weight: 500;
  background-color: #f3f4f6;
  padding: 6rem;
}

.des p {
  color: #777778;
  font-size: 22px;
  line-height: 30px;
}

.pro-btns {
  display: flex;
  margin-top: 4rem;
}



@media (max-width:1380px) {
  .container {
    width: 1200px;
  }
}

@media (max-width:1280px) {
  .container {
    width: 1100px;
  }
}

@media (max-width:1180px) {
  .container {
    width: 1000px;
  }
}

@media (max-width:1020px) {
  .container {
    width: 900px;
  }

  .big-wrapper {
    flex-direction: column;
  }

  .des p {
    width: 800px;
    color: #777778;
    font-size: 19px;
    line-height: 24px;
  }

  .des  {
    padding: 0 0 20px 0;
  }
}

@media(max-width:920px) {
  .container {
    width: 800px;
  }
}

@media(max-width:820px) {
  .container {
    width: 700px;
  }

  .des p {
    width: 600px;
  }
}

@media(max-width:720px) {
  .container {
    width: 600px;
  }
}

@media(max-width:620px) {
  .container {
    width: 500px;
  }

  .big-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .des {
    padding-left: 30px;
  }
  
  .des p {
    width: 400px;
    font-size: 15px;
    line-height: 18px;
  }

  .pro__about-img {
    display: block;
    width:240px;
  }

  .right {
    width: 55%;
    margin-top: 50px;
  }

  .product__about-title {
    width: 290px;
    font-size: 32px;
  }

  .product__About-price {
    width: 280px;
    font-size: 29px;
    line-height: 0px;
  }

  .product__about-text {
    width: 300px;
  }
    
}

@media(max-width:520px) {
  .container {
    width: 400px;
  }

  .buy__links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}


@media(max-width:420px) {
  .container {
    width: 280px;
  }

  .des p {
    width: 280px;
    font-size: 13px;
    line-height: 18px;
  }

  .right {
    box-shadow: none;
  }

  .modal__link {
    margin-top: 15px;
  }

  .modal__link:nth-child(2) {
    margin-left: 0;
  }
}


/* 1450 1280
1290 1170
1180 1000
1020 900
920 800
820 700
720 600
620 500
520 400
420 300 */